{% extends "base.html" %}

{% block title %}一覧{% endblock %}

{% block body %}
  {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
  <h1>{{ user.name }}のTODO一覧</h1>
    <ul>
    {% if todos %}
      {% for todo in todos %}
        <li>
        <a href="{{ url_for('todos.detail_todo', todo_id=todo.id) }}">{{ todo.title }}</a>
        </li>
      {% endfor %}
    {% endif %}
    </ul>
  
  <p><a href="{{ url_for('todos.create_todo') }}">Todoの新規作成</a></p>
    <p><a href="{{ url_for('user.detail_user',user_id=current_user_id) }}">ユーザー情報</a></p>
  <p><a href="{{ url_for('auth.logout') }}">ログアウト</a></p>
{% endblock %}
