[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.4"
boto3 = "==1.40.7"
wtforms = "*"
flask-wtf = "*"
sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
cryptography = "*"
email-validator = "*"
flask-login = "*"
flask-session = "*"
itsdangerous = "*"
flask = "*"
celery = "*"
redis = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
