{% extends "base.html" %}

{% block title %}ユーザー情報{% endblock %}

{% block body %}
  {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
  <h1>ユーザー情報</h1>
    {% if user %}
      <ul>
        <li>ID:{{ user.id }}</li>
        <li>名前:{{ user.name }}</li>
        <li>Eメールアドレス:{{ user.email }}</li>
      </ul>
    {% endif %}

  <form method="GET"action="{{ url_for('user.edit_user', user_id=user.id) }}">
    <input type="submit" value="編集">
  </form>
  <form method="POST"action="{{ url_for('user.delete_user', user_id=user.id) }}">
    <input type="submit" value="削除" onclick="return confirm('本当に削除しますか？')">
  </form>
  <p><a href="{{url_for('todos.get_todos')}}">Todo一覧に戻る</a></p>
{% endblock %}
